@using _3DMapleSystem.Web.Areas.Administration.ViewModels
@using GridMvc.Html
@model IEnumerable<ModelRankViewModel>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Success"] != null)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            @TempData["Success"].ToString()
        </div>
    </div>
}

@Html.ActionLink("Add new rank", "Add", "Ranks", null, new { @class = "btn btn-success" })

@Html.Grid(Model).Columns(columns =>
{
    columns.Add()
        .Sanitized(false)
        .Encoded(false)
        .Titled(string.Empty)
        .RenderValueAs(model => CheckIfDeletedForEdit(model))
        .Filterable(false).Sortable(false);
    columns.Add(model => model.Name).Filterable(true).Sortable(true);
    columns.Add()
        .Sanitized(false)
        .Encoded(false)
        .Titled(string.Empty)
        .RenderValueAs(model => CheckIfDeleted(model))
        .Filterable(false)
        .Sortable(false);
    columns.Add()
       .Sanitized(false)
       .Encoded(false)
       .Titled(string.Empty)
       .RenderValueAs(model => Html.ActionLink("Hard Delete", "HardDelete", "Ranks", new { Id = model.Id }, new { @class = "btn btn-danger btn-xs" }).ToHtmlString())
       .Filterable(false)
       .Sortable(false);

}).Selectable(false)

@helper CheckIfDeleted(ModelRankViewModel rank)
{
    if (rank.IsDeleted)
    {
        <span class="text-danger">Deleted</span>
    }

    else
    {
        @Html.ActionLink("Delete", "Delete", "Ranks", new { Id = rank.Id }, new { @class = "btn btn-warning btn-sm" })
    }
}

@helper CheckIfDeletedForEdit(ModelRankViewModel rank)
{
    if (!rank.IsDeleted)
    {
        @Html.ActionLink("Edit", "Edit", "Ranks", new { Id = rank.Id }, new { @class = "btn btn-primary btn-sm" })
    }
}