<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3DMaple - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("3DMaple", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole(_3DMapleSystem.Common.GlobalConstants.AdminRole))
                        {
                            <li>@Html.ActionLink("Admin Categories", "Index", "Categories", new { area = "Administration" }, null)</li>
                            <li>@Html.ActionLink("Admin Sub-Categories", "Index", "SubCategories", new { area = "Administration" }, null)</li>
                        }

                        @*else
                            {
                                <li>@Html.ActionLink("Manage my games", "Index", "ManagePartyGames", new { area = string.Empty, index = "ownGames" }, null)</li>
                                <li>@Html.ActionLink("My favorite games", "Index", "ManagePartyGames", new { area = string.Empty, index = "favoriteGames" }, null)</li>
                            }*@
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <hr />
            <p id="author-sign">Powered By Dragan Draganov | e-mail: dragan.mdraganov@yahoo.com | Copyright &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
