@using _3DMapleSystem.Web.Infrastructure.Helpers
@using _3DMapleSystem.Web.ViewModels.PolyModels
@model SimplePolyModelViewModel

<div class="model-item model-item-@Model.Id model-subcategory-@Model.SubCategoryId">
    <a href="@Url.Action("Details", "PolyModels", new { id = @Model.Id, title = @Model.Title.ToSeoUrl()})" rel="@Model.Title" class="model-item-link">
        <figure>
            <img src="@Url.Action("GetPreview", "AppFiles", new {id = Model.PreviewId.Value })" alt="@Model.Title" class="img-responsive form-control-sm model-simple-img" />
            <figcaption class="model-title">
                @Model.Title
            </figcaption>
        </figure>
    </a>

    <div class="icons hover">
        <div class="rank-name-wrapper pull-left">
            <span class="rank-name rank-name-@Model.RankName">@Model.RankName</span>
        </div>
        <div class="pull-right">
            <a href="/3dmodels/show/polotientsa_m12" class="icon_downloads">
                <span class="glyphicon glyphicon-download-alt"></span>
                <span>@Model.DownloadedByUsersCount</span>
            </a>
            <a href="/3dmodels/show/polotientsa_m12" class="icon_comments ml10">
                <span class="glyphicon glyphicon-comment"></span>
                <span>@Model.CommentsCount</span>
            </a>
        </div>
    </div>
</div>


