@using _3DMapleSystem.Web.ViewModels.ComplexModels
@using _3DMapleSystem.Web.Infrastructure.Helpers
@model DetailsComplexModel

@{
    var modelRank = Model.PolyModel.RankName.ToTitleCase();
    var modelProperty = string.Format("Available{0}Models", modelRank);
    var availableModelsByRank = 0;
    if (Model.CurrentUser != null)
    {
        availableModelsByRank = (int)Model.CurrentUser.GetType().GetProperty(modelProperty).GetValue(@Model.CurrentUser, null);
    }
}

<div class="container">
    <div>
        <div class="avatar-wrapper mr10">
            <a href="#">
                @if (Model.PolyModel.AuthorPhotoId == 0)
                {
                    <img class=" img-responsive form-control-sm model-simple-img user-avatar" src="~/Content/Images/defaultPhoto.jpg" />
                }
                else
                {
                    <img src="@Url.Action("GetPreview", "AppFiles", new {id = Model.PolyModel.AuthorPhotoId })"
                         alt="@Model.PolyModel.AuthorName" class=" img-responsive form-control-sm model-simple-img user-avatar" />
                }
            </a>
        </div>
        <h4 class="mb10 pt5">
            <span class="rank-name rank-name-@Model.PolyModel.RankName mr10">@Model.PolyModel.RankName</span>
            <span>@Model.PolyModel.Title </span>
        </h4>
        <h4>
            <span class="glyphicon glyphicon-user mr10"></span>
            <a href="#">@Model.PolyModel.AuthorName</a>
        </h4>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-9">
            @if (Model.PolyModel.PreviewId != null)
            {
                <img style="float:left" src="@Url.Action("GetPreview",
"AppFiles", new { area = string.Empty, id = Model.PolyModel.PreviewId.Value })"
                     alt="@Model.PolyModel.Title" class=" img-responsive img-big img-thumbnail" />
            }
            else
            {
                <span class="form-control">No preview</span>
            }
        </div>
        <div class="col-md-3">
            <p title="Platform"><span class="glyphicon glyphicon-cog mr10"></span>@Model.PolyModel.SubPlatformName</p>
            <p title="Added On"><span class="glyphicon glyphicon-time mr10"></span>@Model.PolyModel.CreatedOn</p>
            <p title="Style"><span class="glyphicon glyphicon-leaf mr10"></span>@Model.PolyModel.StyleName</p>
            <p title="3D Model File Size"><span class="glyphicon glyphicon-compressed mr10"></span>@Model.SizeOfFileModel<span> MB</span></p>
            <p title="Tags">
                <span class="glyphicon glyphicon-tags mr10"></span>
                @foreach (var tag in @Model.PolyModel.Tags)
                {
                    @Html.ActionLink(tag, "Index", "Search", new { area = string.Empty, query = tag }, null)
                    if (tag != @Model.PolyModel.Tags.Last())
                    {
                        <span>, </span>
                    }
                }
            </p>
            <br />
            <p title="Description"><span class="glyphicon glyphicon-pencil mr10"></span>@Model.PolyModel.Description</p>
            <br />
            @using (Ajax.BeginForm("Vote", "Ratings", new
            {
                modelId = Model.PolyModel.Id @*, ratingId = Model.CurrentUserRating == null ? -1 : Model.CurrentUserRating.Id*@ },
            new AjaxOptions
            {
                //UpdateTargetId = "game-section-" + Model.Id
            },
            new { @class = "rating-panel" }))
            {
                <div class="rating-area">
                    <span class="rating-text">Your rating:</span>
                    <div class="rating-area-stars">
                        <label class="rating-star"></label>
                        <input type="radio" name="rating" value="1">
                        <label class="rating-star"></label>
                        <input type="radio" name="rating" value="2">
                        <label class="rating-star"></label>
                        <input type="radio" name="rating" value="3">
                        <label class="rating-star"></label>
                        <input type="radio" name="rating" value="4">
                        <label class="rating-star"></label>
                        <input type="radio" name="rating" value="5">
                        <span class="rating-dynamic-value">-</span>
                        <span class="rating-static-value">/5</span>
                        <span class="btn-clear-rating glyphicon glyphicon-remove-circle" title="Clear Rating"></span>
                    </div>
                </div>
                <script type="text/javascript">
                    displayCurrentUserRating(@Model.PolyModel.CurrentUserRating);
                </script>
                <div id="rating-result">
                    @Html.Partial("_RatingResult", @Model.PolyModel)
                </div>
            }
            <hr />
            <div class="row">
                @if (User.Identity.IsAuthenticated)
                {
                    if (availableModelsByRank == 0)
                    {
                        <div class="col-md-5">
                            @Html.ActionLink("Download", "Create", "Orders", null,
                        new
                    {
                        @class = "btn btn-sm btn-info btn-download-model"
                    })
                        </div>
                    }

                    else
                    {
                        <div class="col-md-5">
                            @Html.ActionLink("Download", "Download", "AppFiles",
                 new { area = string.Empty, id = @Model.PolyModel.File3DModelId, modelId = @Model.PolyModel.Id },
                new
                    {
                        rank = @Model.PolyModel.RankName,
                        id = "modelId_" + @Model.PolyModel.Id,
                        @class = "btn btn-sm btn-info btn-download-model downloadLink",
                        onclick = "return false;"
                    })
                        </div>
                    }


                    <div class="col-md-6">
                        @Ajax.ActionLink("Add to favorites", "AddToFavorties", "PolyModels",
                new { area = string.Empty, id = @Model.PolyModel.Id }, null,
                new
                    {
                        @class = "btn btn-sm btn-default btn-favorites-model pull-left",
                    })
                    </div>
                    <div id="dialog-confirm" title="Download confirmation">
                        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Download model '@Model.PolyModel.Title'</p>
                    </div>
                }

                else
                {
                    <div class="col-md-5">
                        @Html.ActionLink("Download", "Login", "Account", null,
                        new
                    {
                        @class = "btn btn-sm btn-info btn-download-model"
                    })
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Add to favorites", "Login", "Account", null,
                        new
                    {
                        @class = "btn btn-sm btn-default btn-favorites-model pull-left",
                    })
                    </div>
                }

            </div>
            <hr />
            @if (User.Identity.IsAuthenticated)
            {
                <div id="download-limits-wrapper">
                    @Html.Partial("_DownloadLimits", @Model.CurrentUser)
                </div>
                <div class="panel panel-danger limits-error">
                    <div class="panel-heading text-center">
                        The limit of <span class="rank-name"></span> models is exhausted.
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
    <h3>
        <i class="glyphicon glyphicon-comment opacity05"></i><span> Comments</span>(<span id="comments-counter">@Model.PolyModel.Comments.Count</span>)
    </h3>
    <div class="panel panel-tasks p0">
        @if (@Model.PolyModel.Comments.Count() == 0)
        {
            <div class="panel-heading panel-heading-add text-warning" id="comments-label">
                There are no comments
            </div>
            <div class="panel panel-body panel-comments-content" id="panel-comments-content">
                <div id="all-comments"></div>
            </div>
        }
        else
        {
            <div class="panel-body panel-comments-content" id="panel-comments-content">
                <div id="all-comments">
                    @foreach (var comment in @Model.PolyModel.Comments)
                    {
                        @Html.Partial("_CommentPartialView", comment)
                    }
                </div>
            </div>
        }
    </div>
    <br />
    @if ((User.Identity.IsAuthenticated))
    {
        @Html.Partial("~/Views/Shared/_AddComment.cshtml", new _3DMapleSystem.Web.ViewModels.CommentViewModel(Model.PolyModel.Id))
    }
    else
    {
        @Html.ActionLink("Sign in", "Login", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { @class = "text-italic ml5 text-primary" })
        <span class="text-success">to post a comment</span>
        <br />
    }
</div>