@using _3DMapleSystem.Web.ViewModels.ComplexModels
@model DetailsComplexModel

<div class="container">
        <div >
            <div class="avatar-wrapper mr10">
                <img src="@Url.Action("GetPreview", "AppFiles", new {id = Model.User.PhotoId.Value })"
                     alt="@Model.User.UserName" class=" img-responsive form-control-sm model-simple-img user-avatar" />
            </div>
            <h4 class="mb10 pt5">
                <span class="rank-name mr10">@Model.PolyModel.RankName</span>
                <span>@Model.PolyModel.Title </span>
            </h4>
            <h4><span class="glyphicon glyphicon-user mr10"></span>
            <a href="#">@Model.User.UserName</a>
            
            </h4>
        </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-9">
            @if (Model.PolyModel.PreviewId != null)
            {
                <img style="float:left" src="@Url.Action("GetPreview",
"AppFiles", new { area = string.Empty, id = Model.PolyModel.PreviewId.Value })"
                     alt="@Model.PolyModel.Title" class=" img-responsive img-big img-thumbnail" />
            }
            else
            {
                <span class="form-control">No preview</span>
            }
        </div>
        <div class="col-md-2">
            <p><span class="glyphicon glyphicon-cog mr10"></span>@Model.PolyModel.SubPlatformName</p>
            <p><span class="glyphicon glyphicon-time mr10"></span>@Model.PolyModel.CreatedOn</p>
            <p><span class="glyphicon glyphicon-leaf mr10"></span>@Model.PolyModel.StyleName</p>
            <p><span class="glyphicon glyphicon-lock mr10"></span>@Model.SizeOfFileModel<span> MB</span></p>
            <p><span class="glyphicon glyphicon-tags mr10"></span>@String.Join(", ", Model.PolyModel.Tags)</p>
        </div>
    </div>
</div>
