@using _3DMapleSystem.Web.Infrastructure.Helpers
@using _3DMapleSystem.Web.ViewModels.PolyModels;
@model IEnumerable<SimplePolyModelViewModel>

<h2>
    <a href="@Url.Action("Index","Home")">3DModels</a>
    >
    <a href="@Url.Action("Index", "Categories", new { name = @ViewContext.RouteData.Values["categoryName"] })">@ViewContext.RouteData.Values["categoryName"].ToString().ToTitleCase()</a>
    > @ViewContext.RouteData.Values["subCategoryName"].ToString().ToTitleCase()
</h2>

<div class="row">
    <div class="col-md-9">
        @foreach (var model in Model)
        {
            @Html.Partial("_SimplePolyModel", model)
        }
    </div>
</div>

