@using _3DMapleSystem.Web.ViewModels
@model OrderViewModel

@{
    ViewBag.Title = "BuyModels";
}

<h2>BuyModels</h2>

@Html.HiddenFor(m => m.ProModelPrice, new { @id="promodel-price"})
@Html.HiddenFor(m => m.FreeModelsSubscritpionPrice, new { @id = "freemodel-price" })

<div class="container">
    <div>
        <div class="avatar-wrapper mr10">
            <a href="#">
                @if (Model.UserPhotoId == 0 || Model.UserPhotoId == null)
                {
                    <img class=" img-responsive form-control-sm model-simple-img user-avatar" src="~/Content/Images/defaultPhoto.jpg" />
                }
                else
                {
                    <img src="@Url.Action("GetPreview", "AppFiles", new { id = Model.UserPhotoId })"
                         alt="@Model.UserName" class=" img-responsive form-control-sm model-simple-img user-avatar" />
                }
            </a>
        </div>
        @*<h4 class="mb10 pt5">
                <span class="rank-name rank-name-@Model.PolyModel.RankName mr10">@Model.PolyModel.RankName</span>
                <span>@Model.PolyModel.Title </span>
            </h4>*@
        <h4>
            <span class="glyphicon glyphicon-user mr10"></span>
            <a href="#">@Model.UserName</a>
        </h4>
    </div>
</div>
<hr />
<div class="container">
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-7 payment-menu">
            <div>
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span> Shopping cart:</span>
            </div>
            <div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProModelsOrderedNumber, "Choose a number of PRO 3d models:", new { @class = "col-sm-6 control-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.ProModelsOrderedNumber, new { @class = "form-control form-control-sm", @Value = 0, @id="pro-models-number" })
                        <div>Choose between 0 and 200</div>
                    </div>
                </div>
                @*<label>Choose a number of PRO 3d models:</label>
                    <input type="number" />*@
            </div>
            <div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FreeModelsMonthsSubscription, "Availabitily period for FREE 3d models:", new { @class = "col-sm-6 control-label" })
                    <div class="col-sm-6">
                        <input type="range" name="FreeModelsMonthsSubscription" min="0" max="12" step="1" value="0" id="free-models-month" />
                        <div>
                            <span class="pull-left"><span class="span-free-models-months">0</span> months</span>
                            <span class="pull-right">12 months</span>
                        </div>
                    </div>
                </div>
                @*<label>Availabitily period for FREE 3d models</label>
                    <input type="range" />*@
            </div>
            <div class="models-buy-choice">
                <h3>Your choice:</h3>
                <div class="order-plan">
                    <span class="order-plan-text">
                        <span class="span-pro-models-number">0</span><span> Pro Models</span>
                    </span>
                    <span class="order-plan-plus">+</span><span class="order-plan-text">
                        <span class="span-free-models-months">0</span><span class="order-plan-text">Months Free Models Subscription</span>
                    </span>
                </div>
            </div>
            <br />
            <div>
                Payment method:
            </div>
            <div>
                <input name="payment-method" type="radio" id="payment-method-card" />
                <span class="glyphicon glyphicon-credit-card"></span>
                <label for="payment-method-card">Credit Cards</label>
            </div>
            <div>
                <input name="payment-method" type="radio" id="payment-method-paypal" checked="checked" />
                <label for="payment-method-paypal">PayPal</label>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <hr />
                    <div class="pull-right pr25">
                        <span>Amount to pay:</span>
                        <span id="total-sum"> 0 </span>
                        <span>$</span>
                    </div>
                </div>
            </div>
            <br />
            <div class="pull-right">
                @Html.Partial("_PayPal")
            </div>
        </div>
        <div class="col-md-5">
            <div>
                <span class="glyphicon glyphicon-info-sign"> Helpful Information</span>
            </div>
        </div>
    </div>
</div>
